<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="utf-8">
      <title>Create an Organization</title>
      <link rel="stylesheet" type="text/css" th:href="@{/TimeAlign_Stylesheet.css}">
  </head>

  <body>

    <!-- Navigation Menu -->

    <div class="topnav" th:replace="fragments/navbar.html"></div>

    <div class="container">

        <form action="#" th:action="@{/org_registration}" method="POST" th:object="${orgForm}" class="form-signin">
            <h2 class="form-signin-heading">Create an Organizational Group</h2>

            <div>
                <label>Name: </label>
                <input type="text" th:field="*{name}" />
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                </ul>
            </div>

            <div>
                <label>Information: </label>
                <input type="text" th:field="*{information}" />
                <ul>
                    <li th:each="err : ${#fields.errors('information')}" th:text="${err}" />
                </ul>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>

    </div>
  </body>
</html>


