<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="utf-8">
      <title>Create an account</title>
  </head>

  <body>

    <div class="container">

        <form action="#" th:action="@{/registration}" method="POST" th:object="${userForm}" class="form-signin">
            <h2 class="form-signin-heading">Create your account</h2>

            <div>
                <label>Name: </label>
                <input type="text" th:field="*{name}" />
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                </ul>
            </div>

            <div>
                <label>Email: </label>
                <input type="text" th:field="*{email}" />
                <ul>
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
                </ul>
            </div>

            <div>
                <label>Password: </label>
                <input type="text" th:field="*{password}" />
                <ul>
                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
                </ul>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>

    </div>
  </body>
</html>


