<!DOCTYPE html>
<html lang=“en”>

<!-- CONTACT PAGE FOR GUEST USER (NOT LOGGED IN) -->

<head>
    <meta charset=“utf-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/TimeAlign_Stylesheet.css}">
    <title>Time Align</title>
</head>

<body>

    <div class="topnav" th:replace="fragments/navbar.html"></div>


    <!--- Company Name --->

    <div class="body">
        <h1><b>
                <font color="#008080">Time<font color="#4CAF50">Align </h1>
        <h2><i>
                <font color="black">Shift-Management System</b>
            </i></h2><br>

        <!-- Contact Information -->

        <div style="margin-left: 80px; margin-right: 80px; padding:0px;">
            <h3><b> Name <span class="tab2"><span class="tab2"> Email </h3></b></span></span>

            <li>Olivia Kimble <span class="tab2"></li></span><br>
            <li>Kostyantyn Proskuryakov</li><br>
            <li>Jong Choi</li><br>