<!DOCTYPE html>
<html lang=“en”>

<head>
    <meta charset=“utf-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/TimeAlign_Stylesheet.css}">
    <title>Time Align</title>
</head>

<body>

    <!-- Navigation Menu -->

    <div class="topnav" th:replace="fragments/navbar.html"></div>

    <!--- Company Name --->


    <div class="body">
        <h1><b>
                <font color="#008080">Time<font color="#4CAF50">Align </h1>
        <h2><i>
                <font color="black">Shift-Management System</h2></b></i>

        <!-- User Dashboard --->
        <div style="margin-left: 80px; margin-right: 80px; padding:0px;">
            <h3><b>USER INFO</b></h3>
        </div>
        <div style="margin-left: 120px; margin-right: 120px; padding:0px; margin-bottom:30px">
            <h4><b>Type:</b></h4>
            <em th:text="${user.role != null && user.org != null} ? ${user.role} : 'Not In Org'">(Employee [E], Shift Leader [SL], or General Manager [GM])</em>
            <br>
            <h4><b>Organization:</b></h4>
            <a th:unless="${user.org}" href="org_registration.html" th:href="@{/org_registration}">Register a new Organization</a>
            <a th:if="${user.org}" href="org.html" th:href="@{/org}" th:text="${user.org.name}">Org Name</a>
            <br>
        </div>

        <div style="margin-left: 80px; margin-right: 80px; padding:0px;" th:unless="${user.org}">
            <h3>Invites To Orgs</h3>
            <ul>
                <li th:each="inviteOrg : ${user.invitesFromOrgs}" >
                    <span th:text="${inviteOrg.name}">Invited Org</span> -
                    <a href="#" th:href="@{org/{orgId}/accept(orgId=${inviteOrg.id})}">Accept</a> -
                    <a href="#" th:href="@{org/{orgId}/decline(orgId=${inviteOrg.id})}">Decline</a>
                </li>
            </ul>
        </div>

        <div style="margin-left: 80px; margin-right: 80px; padding:0px;">
            <h3>Requested Swaps</h3>
            <ul>
                <li th:each="swap : ${user.requestedSwaps}"><a th:href="@{/swap/{swapId}(swapId=${swap.id})}" th:text="'To: ' + ${swap.receiver.getTag()}"></a></li>
            </ul>
            <h3>Received Swaps</h3>
            <ul>
                <li th:each="swap : ${user.receivedSwaps}"><a th:href="@{/swap/{swapId}(swapId=${swap.id})}" th:text="'From: ' + ${swap.requestor.getTag()}"></a></li>
            </ul>
        </div>

        <!-- Calendar of Events --->

        <div style="margin-left: 0px; margin-right: 0px; padding:0px;">
            <div class="month">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <li>May<br><span style="font-size:18px">2020</span></li>
                </ul>
            </div>

            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>

            <ul class="days">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li><span class="active">10</span></li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>


            </ul></span>

            <!-- User Options -->

            <div style="margin-left: 80px; margin-right: 80px; padding:0px;">
                <br>
                <h3><b>OPTIONS</h3></b>
                <br>
            </div>
            <div style="margin-left: 120px; margin-right: 120px; padding:0px;">
                <li><a class="active" href="TimeAlign_ViewShifts.html" th:href="@{/shifts}">View Upcoming Shifts</a></li>
                <br>
            </div>

</body>

</html>